body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f6f8;
}

header{
    background:#0d6efd;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#333;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#0d6efd;
}

.container{
    padding:40px;
    max-width:900px;
    margin:auto;
    background:white;
    margin-top:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

button{
    padding:10px 15px;
    border:none;
    background:#0d6efd;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#084298;
}

/* Dark Mode */
.dark{
    background:#121212;
    color:white;
}

.dark .container{
    background:#1e1e1e;
}
/* FADE-IN EFFECT */
.container{
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.container.show{
    opacity: 1;
    transform: translateY(0);
}

/* ACTIVE NAV LINK */
nav a.active{
    color:#0d6efd;
    border-bottom:2px solid #0d6efd;
}
